In [4]:
""" Loading the data"""
import pandas as pd

emotion_df = pd.read_csv('C:/Users/tobos/OneDrive/Desktop/Projects/NLP-Sentiment-Analysis-project/nlp-sentiment-analysis/Datasets/emotions.csv')
emotion_df.head()

   Unnamed: 0                                               text  label
0           0      i just feel really helpless and heavy hearted      4
1           1  ive enjoyed being able to slouch about relax a...      0
2           2  i gave up my internship with the dmrg and am f...      4
3           3                         i dont know i feel so lost      0
4           4  i am a kindergarten teacher and i am thoroughl...      4

In [5]:
gbv_hate_speech_df = pd.read_csv('C:/Users/tobos/OneDrive/Desktop/Projects/NLP-Sentiment-Analysis-project/nlp-sentiment-analysis/Datasets/gbv_hate_speech.csv')
gbv_hate_speech_df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [6]:
violence_df = pd.read_csv('C:/Users/tobos/OneDrive/Desktop/Projects/NLP-Sentiment-Analysis-project/nlp-sentiment-analysis/Datasets/violence.csv')
violence_df.head()

,Tweet_ID,tweet,type
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence

In [7]:
""" Data Preprocessing"""
# Dropping unwanted columns
emotion_df.drop(columns = ['Unnamed: 0'], inplace = True)
violence_df.drop(columns = ['Tweet_ID'], inplace = True)
gbv_hate_speech_df = gbv_hate_speech_df[['tweet', 'class']]

In [16]:
emotion_df.head()

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4

In [17]:
violence_df.head()

                                               tweet             type
0  Had a dream i got raped last night. By a guy i...  sexual_violence
1  he thought the word raped means sex and told m...  sexual_violence
2  She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...  sexual_violence
3  I was sexually abused for 3 years at age 4 to ...  sexual_violence
4  Chessy Prout can do better by telling the trut...  sexual_violence

In [18]:
gbv_hate_speech_df.head()

                                               tweet  class
0  !!! RT @mayasolovely: As a woman you shouldn't...      2
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...      1
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...      1
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...      1
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...      1

In [20]:
# Renaming the columns
violence_df.rename(columns = {'tweet' : 'text', 'type' : 'label'}, inplace = True)
gbv_hate_speech_df.rename(columns = {'tweet' : 'text', 'class' : 'label'}, inplace = True)

violence_df.columns, gbv_hate_speech_df.columns, emotion_df.columns

(Index(['text', 'label'], dtype='object'),
 Index(['text', 'label'], dtype='object'),
 Index(['text', 'label'], dtype='object'))

In [22]:
# Checking for null values
violence_df.isna().sum(), gbv_hate_speech_df.isna().sum(), emotion_df.isna().sum()

(text     0
 label    0
 dtype: int64,
 text     0
 label    0
 dtype: int64,
 text     0
 label    0
 dtype: int64)

In [27]:
# Data sampling: extracting 12 thousand rows from each dataset.
emtn_df = pd.DataFrame()
for i in range(6):
    subset = emotion_df[emotion_df['label'] == i].sample(n = 2000, random_state = 42)
    emtn_df = pd.concat([emtn_df, subset])

emtn_df.shape
emotion_df = emtn_df.copy()
emotion_df['label'].value_counts()

label
0    2000
1    2000
2    2000
3    2000
4    2000
5    2000
Name: count, dtype: int64

In [28]:
violence_df['label'].value_counts()

label
sexual_violence                 32648
Physical_violence                5946
emotional_violence                651
economic_violence                 217
Harmful_Traditional_practice      188
Name: count, dtype: int64

In [31]:
# Because violence_df has uneven counts in the columns, we only sample from the highest(sexual_violence).
sexual_violence = violence_df[violence_df['label'] == 'sexual_violence'].sample(n = 4998, random_state = 42)

# Removing 'sexual_violence' column from violence_df
violence_df = violence_df[violence_df['label'] != 'sexual_violence']

# Re-adding sampled 'sexual_violence' column to violence_df
violence_df = pd.concat( [sexual_violence, violence_df], axis = 0)

violence_df.shape

(12000, 2)

In [32]:
gbv_hate_speech_df['label'].value_counts()

label
1    19190
2     4163
0     1430
Name: count, dtype: int64

In [34]:
# Because gbv_hate_speech_df has uneven counts in the columns, we only sample from the highest(offensive_speech) column.
offensive_speech = gbv_hate_speech_df[gbv_hate_speech_df['label'] == 1].sample(n = 6407, random_state = 42)

# Removing 'offensive_speech' from gbv_hate_speech_df
gbv_hate_speech_df = gbv_hate_speech_df[gbv_hate_speech_df['label'] != 1]

# Re-adding sampled 'offensive_speech' column to gbv_hate_speech_df
gbv_hate_speech_df = pd.concat([offensive_speech, gbv_hate_speech_df], axis = 0)

gbv_hate_speech_df.shape

(12000, 2)

In [36]:
# Resetting indexes of dataframes
emotion_df.reset_index(drop = True, inplace = True)
gbv_hate_speech_df.reset_index(drop = True, inplace = True)
violence_df.reset_index(drop = True, inplace = True)

In [39]:
emotion_df.head(3)

                                                text  label
0  ive learned to surround myself with women who ...      0
1  i already feel crappy because of this and you ...      0
2  i feel like i have lost mourned and moved past...      0

In [40]:
gbv_hate_speech_df.head(3)

                                                text  label
0                       @_lostb0y do you, bitch boy?      1
1  @noturavurage You can roll? And what you got t...      1
2                       Got a lil bitch from the 916      1

In [41]:
violence_df.head(3)

                                                text            label
0  “Club he Loves” ... Spare me .. Raped us for 8...  sexual_violence
1  Please don't lie because your so called prophe...  sexual_violence
2  Welcome to Jee dee's blog: How I Was Brutally ...  sexual_violence